.accordion {
  border-radius: 4px;
  margin-bottom: 10px;
}
.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.accordion-content {
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  display: block;
}
.accordion-content p {
  margin: 0;
}
